@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SistemaFacturacionWeb.Models.ViewModels.VerDetallesViewModel
@{
    ViewData["Title"] = "Anular Factura";
}
<div class="py-3">
    <div class="container mx-auto px-4 py-2">
        <h1 class="text-center text-3xl uppercase bold tracking-wider">
            @ViewData["Title"]
        </h1>
        <h1 class="text-center text-xl uppercase bold tracking-wider">¿Seguro que desea anular la siguiente factura?
        </h1>
        <form asp-action="Anular">
            <input asp-for="Numero_factura" type="hidden"/>
            <div class="w-full justify-between bg-teal-500 px-4 shadow-lg rounded-md">
                <div class="flex flex-col mt-10 md:flex-row md:gap-4">
                    <div
                        class="flex flex-col mt-10 items-start w-full py-5 px-5 mb-10 lg:mb-5 shadow-lg rounded-md bg-white">
                        <h1 class="uppercase text-lg font-bold mb-5 text-teal-500 py-2 px-3">Datos de La Factura</h1>
                        <div class="mb-5 grid grid-cols-2 justify-between w-full">
                            <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Numero_factura)</p>
                            <p class="px-3">@Html.DisplayFor(m => m.Numero_factura)</p>
                        </div>
                        <div class="mb-5 grid grid-cols-2 justify-between w-full">
                            <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Fecha)</p>
                            <p class="px-3">@Html.DisplayFor(m => m.Fecha)</p>
                        </div>
                        <div class="mb-5 grid grid-cols-2 justify-between w-full">
                            <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Anulada)</p>
                            <p class="px-3">@Html.DisplayFor(m => m.Anulada)</p>
                        </div>
                    </div>

                    <div
                        class="flex flex-col md:mt-10 items-start w-full py-5 px-5 mb-10 lg:mb-5 shadow-lg rounded-md bg-white">
                        <h1 class="uppercase text-lg font-bold mb-5 text-teal-500 py-2 px-3">Datos del cliente </h1>
                        <div class="mb-5 grid grid-cols-2 justify-between w-full">
                            <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Cliente.Nit)</p>
                            <p class="px-3">@Html.DisplayFor(m => m.Cliente.Nit)</p>
                        </div>
                        <div class="mb-5 grid grid-cols-2 justify-between w-full">
                            <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Cliente.Nombres)</p>
                            <p class="px-3">@Html.DisplayFor(m => m.Cliente.Nombres)</p>
                        </div>
                        <div class="mb-5 grid grid-cols-2 justify-between w-full">
                            <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Cliente.Apellidos)</p>
                            <p class="px-3">@Html.DisplayFor(m => m.Cliente.Apellidos)</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:mt-5 md:flex-row md:gap-4">
                    <div
                        class="flex flex-col items-start w-full py-5 px-5 mb-10 lg:mb-5 shadow-lg rounded-md bg-white ">
                        <h1 class="uppercase text-lg font-bold mb-5 text-teal-500 py-2 px-3 text-center self-center">
                            Listado
                            de Productos</h1>
                        <div class="relative w-full md:w-3/4 ml-auto mr-auto overflow-x-auto ">
                            @if (Model.Productos.Count() > 0)
                            {
                                <table class="w-full text-md text-left">
                                    <thead class="uppercase font-bold text-center tracking-wide bg-teal-500 text-white">
                                        <tr>
                                            <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m =>
                                            m.Productos.First().Nombre)
                                            </td>
                                            <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m =>
                                            m.Productos.First().Descripcion)</td>
                                            <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m =>
                                            m.Productos.First().Cantidad)
                                            </td>
                                            <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m =>
                                            m.Productos.First().Precio)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Productos)
                                        {
                                            <tr>
                                                <td class="border border-teal-800 px-3 py-1">@item.Nombre</td>
                                                <td class="border border-teal-800 px-3 py-1">@item.Descripcion</td>
                                                <td class="border border-teal-800 px-3 py-1">@item.Cantidad</td>
                                                <td class="border border-teal-800 px-3 py-1">@item.Precio</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            <div class="mb-5 mt-5 grid grid-cols-2 justify-end uppercase text-xl">
                                <p class="font-bold px-3">@Html.DisplayNameFor(m => m.Total_factura)</p>
                                <p class="px-3 place-self-end text-right">@Html.DisplayFor(m => m.Total_factura)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col md:flex-row text-center justify-center gap-5 content-center py-2">
                <input type="submit" value="Anular"
                    class="w-1/6 self-center bg-red-600 px-4 py-2 uppercase text-white mb-5 rounded-md hover:bg-red-700 cursor-pointer">
                <p class="py-2 text-teal-600 hover:text-teal-700 font-bold">@Html.ActionLink("Regresar a la lista",
                    "Index", "Factura")</p>
            </div>
        </form>
    </div>
</div>