@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SistemaFacturacionWeb.Models.Cliente>
@{
    ViewData["Title"] = "Listado de CLientes";
    
}
<div class="py-3">
    <div class="container mx-auto px-4 py-2">
        <h1 class="text-center text-3xl uppercase bold tracking-wider">
            @ViewData["Title"]
        </h1>
        <div class="flex flex-col mt-10 items-center">
<div class="flex w-full md:w-2/3 ml-auto mr-auto justify-center my-5 lg:my-0 lg:justify-end">
    <a asp-action="Create" asp-controller="Clientes"><button type="button"
            class="text-gray-200 bg-teal-600 hover:bg-gray-900 font-semibold uppercase tracking-wider transition-all duration-500 px-3 py-2  mb-5 rounded-md cursor-pointer">
            Agregar Cliente </button> </a>
</div>
<div class="relative w-full xl:w-2/3 ml-auto mr-auto overflow-x-auto shadow-md sm:rounded-lg">
    @if (Model.Count() > 0)
    {
        <table class="w-full text-md text-left">
            <thead class="uppercase font-bold text-center tracking-wide bg-teal-500 text-white">
                <tr>
                    <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m => m.Codigo_cliente)</td>
                    <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m => m.Nombres)</td>
                    <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m => m.Apellidos)</td>
                    <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m => m.Nit)</td>
                    <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m => m.Telefono)</td>
                    <td class="border border-teal-800 px-3 py-1">@Html.DisplayNameFor(m => m.Estado)</td>
                    <td class="border border-teal-800 px-3 py-1">Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="border border-teal-800 px-3 py-1">@item.Codigo_cliente</td>
                        <td class="border border-teal-800 px-3 py-1">@item.Nombres</td>
                        <td class="border border-teal-800 px-3 py-1">@item.Apellidos</td>
                        <td class="border border-teal-800 px-3 py-1">@item.Nit</td>
                        <td class="border border-teal-800 px-3 py-1">@item.Telefono</td>
                        <td class="border border-teal-800 px-3 py-1">@item.Estado</td>
                        <td class="border border-teal-800 px-3 py-1 text-teal-600 hover:text-teal-700">
                            @Html.ActionLink("Editar","Editar", new { Codigo_cliente=item.Codigo_cliente}) | @Html.ActionLink("Eliminar",
                    "Eliminar",
                    new { Codigo_cliente=item.Codigo_cliente})</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
</div>
    </div>
</div>